﻿@model ConsomiTousi.Domain.Claims

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Claims</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClaimsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimsDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimsState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimsState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsersId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsersId)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.MyUsers.UsersName)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.MyProduct.Libelle)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClaimsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
