﻿@model ConsomiTousi.Domain.DeliveryMan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3 class="box-title m-t-40">Ajouter annonce</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.UsersName_d, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label>Titre</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsersName_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersName_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.UsersLastname_d, htmlAttributes: new { @class = "col-md-12" })*@
            <label>Nom</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsersLastname_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersLastname_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.UsersEmail_d, htmlAttributes: new { @class = "col-md-12" })*@
            <label>Email</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsersEmail_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersEmail_d, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            @*@Html.LabelFor(model => model.UsersAdress_d, htmlAttributes: new { @class = "col-md-12" })*@
            <label>Adresse</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsersAdress_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersAdress_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.DateRegister_d, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateRegister_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateRegister_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @*@Html.LabelFor(model => model.DateNaissance_d, htmlAttributes: new { @class = "col-md-12" })*@
            <label>Date naissance</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateNaissance_d, new { htmlAttributes = new { @class = "form-control mydatepicker",@Value= "07/04/2020 00:00:00" } })
                @Html.ValidationMessageFor(model => model.DateNaissance_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Pays_d, htmlAttributes: new { @class = "col-md-12" })*@
            <label>Pays</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pays_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pays_d, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group" hidden>
            @Html.LabelFor(model => model.State_d, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.State_d, new { htmlAttributes = new { @class = "form-control",@Value="disponible" } })
                @Html.ValidationMessageFor(model => model.State_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Phone_d, htmlAttributes: new { @class = "col-md-12" })*@
            <label>Phone</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            <label>ImageCin_d</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageCin_d, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.ImageCin_d, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.UsersCin_d, htmlAttributes: new { @class = "col-md-12" })*@
            <label>Description</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsersCin_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersCin_d, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Ville_d, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-10">


                @*@Html.EditorFor(model => model.Ville_d, new { htmlAttributes = new { @class = "form-control" } })*@


                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "tunis",
                        Value = "tunis",
                        Selected = false
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "sousse",
                        Value = "sousse"

                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "nabeul",
                        Value = "nabeul"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "hamamet",
                        Value = "hamamet"
                    });
                }

                @Html.DropDownListFor(model => model.Ville_d, listItems, "-- Select Ville --")
                @Html.ValidationMessageFor(model => model.Ville_d, "", new { @class = "text-danger" })



            </div>
        </div>
        <div class="form-group" hidden>
            @Html.LabelFor(model => model.lng, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lng, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lng, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.ing, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ing, "", new { @class = "text-danger" })
            </div>
        </div>



        <p>


        </p>
        @*<div class="form-group" hidden>
                @Html.LabelFor(model => model.DeliveryId,"DeliveryId" ,htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DeliveryId", (SelectList)ViewData["DeliveryList"])
                    @Html.ValidationMessageFor(model => model.DeliveryId)
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />|@Html.ActionLink("Back to List", "Index")
            </div>

            
        </div>
    </div>
                    }
















<script src="~/Scripts/jquery-3.2.1.js" type="text/javascript"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">

    var d = new Date();
    var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
    console.log(strDate);
    $("#DateRegister_d").val(strDate);
   
    $("#Ville_d").mouseup(function () {

        var str = $("#Ville_d").val();

        console.log(str);
        if (str == "tunis") {
            var ingtu = "36,8188";
            var lngtu = "10,166";
            $('#ing').val(ingtu);
            $('#lng').val(lngtu);
            //$('p').prepend('<strong>Texte inséré avant le contenu actuel.</strong> ');

        }

        if (str == "sousse") {
            var ingS = "35,833";
            var lngS = "10,6387";
            $('#ing').val(ingS);
            $('#lng').val(lngS);
        }
        if (str == "nabeul") {
            var ingN = "36,4542";
            var lngN = "10,7347";
            $('#ing').val(ingN);
            $('#lng').val(lngN);
        }

        if (str == "hamamet") {
            var ingH = "36,4";
            var lngH = "10,6167";
            $('#ing').val(ingH);
            $('#lng').val(lngH);
        }
    });




</script>
