﻿@model ConsomiTousi.Domain.DeliveryMan

@{
    ViewBag.Title = "Delete";
}


<div>

<div class="row">
    <div class="col-lg-12">
        <div class="white-box">
            <div class="">

                <hr>
                <div class="row">


                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="box-title m-t-40">Are you sure you want to delete this?</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="390">Titre</td>
                                        <td> @Html.DisplayFor(model => model.UsersName_d) </td>
                                    </tr>
                                    <tr>
                                        <td>Nom</td>
                                        <td>@Html.DisplayFor(model => model.UsersLastname_d)</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td> @Html.DisplayFor(model => model.UsersEmail_d) </td>
                                    </tr>
                                    <tr>
                                        <td>Phone</td>
                                        <td>@Html.DisplayFor(model => model.Phone_d)</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>@Html.DisplayFor(model => model.UsersCin_d) </td>
                                    </tr>
                                    <tr>
                                        <td>Adresse</td>
                                        <td>@Html.DisplayFor(model => model.UsersAdress_d)</td>
                                    </tr>
                                    <tr>
                                        <td>Ville</td>
                                        <td> @Html.DisplayFor(model => model.Ville_d) </td>
                                    </tr>
                                    <tr>
                                        <td>Pays</td>
                                        <td> @Html.DisplayFor(model => model.Pays_d) </td>
                                    </tr>
                                    <tr>
                                        <td>Etat</td>
                                        <td>@Html.DisplayFor(model => model.State_d)</td>
                                    </tr>
                                    <tr>
                                        <td>Latitude</td>
                                        <td> @Html.DisplayFor(model => model.ing) </td>
                                    </tr>
                                    <tr>
                                        <td>Longitude</td>
                                        <td>@Html.DisplayFor(model => model.lng)</td>
                                    </tr>


                                   

                                </tbody>
                            </table>
                            <p>

                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--row -->
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
