﻿@model ConsomiTousi.Domain.DeliveryMan

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="col-lg-12">
        <div class="white-box">
            <div class="">
                
                <hr>
                <div class="row">
                    
                 
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="box-title m-t-40">General Info</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="390">Titre</td>
                                        <td> @Html.DisplayFor(model => model.UsersName_d) </td>
                                    </tr>
                                    <tr>
                                        <td>Nom Annonceur</td>
                                        <td>@Html.DisplayFor(model => model.UsersLastname_d)</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td> @Html.DisplayFor(model => model.UsersEmail_d) </td>
                                    </tr>
                                    <tr>
                                        <td>Phone</td>
                                        <td>@Html.DisplayFor(model => model.Phone_d)</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>@Html.DisplayFor(model => model.UsersCin_d) </td>
                                    </tr>
                                    <tr>
                                        <td>Adress</td>
                                        <td>@Html.DisplayFor(model => model.UsersAdress_d)</td>
                                    </tr>
                                    <tr>
                                        <td>Ville</td>
                                        <td> @Html.DisplayFor(model => model.Ville_d) </td>
                                    </tr>
                                    <tr>
                                        <td>Pays</td>
                                        <td> @Html.DisplayFor(model => model.Pays_d) </td>
                                    </tr>
                                    <tr>
                                        <td>Etat</td>
                                        <td>@Html.DisplayFor(model => model.State_d)</td>
                                    </tr>
                                    <tr>
                                        <td>Latitude</td>
                                        <td> @Html.DisplayFor(model => model.ing) </td>
                                    </tr>
                                    <tr>
                                        <td>Longitude</td>
                                        <td>@Html.DisplayFor(model => model.lng)</td>
                                    </tr>
                                   
                                    
                                    <tr>
                                        <td>Rendez Vous Associés</td>
                                        
                                        <td>id: @Html.DisplayFor(model => model.DeliveryId) </td>
                                        <td>Nom: @Html.DisplayFor(model => model.MyDelivery.MyUsers.UsersName) </td>
                                        <td>Prenom: @Html.DisplayFor(model => model.MyDelivery.MyUsers.UsersLastname) </td>
                                        
                                        <td>Adress: @Html.DisplayFor(model => model.MyDelivery.Adress) </td>
                                       
                                        <td>ville: @Html.DisplayFor(model => model.MyDelivery.Ville) </td>
                                        
                                        <td>Date: @Html.DisplayFor(model => model.MyDelivery.DeliveryDate) </td>
                                        
                                        
                                        
                                    </tr>
                                   
                                </tbody>
                            </table>

                            <div>
                                <a href="https://app.cloudpano.com/tours/Gd62jbTv2?fbclid=IwAR33R0LCrHZsSa5o08FdjckyX3xSRe2S-8TggxIExR6R2HT8OhkICX9aRj8">boutique virtuel</a>
                            </div>
                            <p>

                                @Html.ActionLink("Back to List", "Index")
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--row -->