﻿@model ConsomiTousi.Domain.DeliveryMan

@{
    ViewBag.Title = "Edit";
   
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DeliveryManId)

        <div class="form-group">
            <label>Titre</label>
            @*@Html.LabelFor(model => model.UsersName_d, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsersName_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersName_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Nom</label>
            @*@Html.LabelFor(model => model.UsersLastname_d, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsersLastname_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersLastname_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.UsersEmail_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsersEmail_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersEmail_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Description</label>
            @*@Html.LabelFor(model => model.UsersCin_d, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsersCin_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersCin_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"hidden>
            @Html.LabelFor(model => model.UsersAdress_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsersAdress_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersAdress_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.DateRegister_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateRegister_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateRegister_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.DateNaissance_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateNaissance_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateNaissance_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.Pays_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pays_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pays_d, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group" hidden>
            @*@Html.LabelFor(model => model.Ville_d, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">


                
                @*@Html.EditorFor(model => model.Ville_d, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "tunis",
                        Value = "tunis",
                        Selected = false
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "sousse",
                        Value = "sousse"

                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "nabeul",
                        Value = "nabeul"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "hamamet",
                        Value = "hamamet"
                    });
                }

                @Html.DropDownListFor(model => model.Ville_d, listItems, "-- Select Ville --")
                @Html.ValidationMessageFor(model => model.Ville_d, "", new { @class = "text-danger" })*@
            </div>
        </div>



        <div class="form-group" hidden>
            @Html.LabelFor(model => model.State_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.State_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"hidden>
            @Html.LabelFor(model => model.Phone_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.ImageCin_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageCin_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageCin_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"hidden>
            @Html.LabelFor(model => model.lng, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lng, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lng, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"hidden>
            @Html.LabelFor(model => model.ing, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ing, "", new { @class = "text-danger" })
            </div>
        </div>


       @if(@Model.DeliveryId ==null)
       {
           if (Model.State_d =="disponible")
           {
        <div class="form-group">
            @Html.LabelFor(model => model.MyDelivery.Ville, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DeliveryId", (SelectList)ViewData["DeliveryList"])
                @Html.ValidationMessageFor(model => model.DeliveryId)
            </div>
        </div>

        <p>


        </p>
           }
          
       }

       else if (@Model.MyDelivery.DeliveryState != "yes")
       {


        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryId, "DeliveryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DeliveryId", (SelectList)ViewData["DeliveryList"])
                @Html.ValidationMessageFor(model => model.DeliveryId)
            </div>
        </div>
       }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}




<script src="~/Scripts/jquery-3.2.1.js" type="text/javascript"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">

 
    $("#DeliveryId").mouseup(function () {

        var str = $("#DeliveryId").val();

        console.log(str);
        if (str == "tunis") {
            //var ingtu = "36,8188";
            //var lngtu = "10,166";
            //$('#ing').val(ingtu);
            //$('#lng').val(lngtu);
            $('p').prepend('<strong>Match!!.</strong> ');

        }

        if (str == "sousse") {
            var ingS = "35,833";
            var lngS = "10,6387";
            $('#ing').val(ingS);
            $('#lng').val(lngS);
        }
        if (str == "nabeul") {
            var ingN = "36,4542";
            var lngN = "10,7347";
            $('#ing').val(ingN);
            $('#lng').val(lngN);
        }

        if (str == "hamamet") {
            var ingH = "36,4";
            var lngH = "10,6167";
            $('#ing').val(ingH);
            $('#lng').val(lngH);
        }
    });




</script>
