﻿@model IEnumerable<ConsomiTousi.Domain.DeliveryMan>

@{
    ViewBag.Title = "Index";

}

<h2>Les Annonces</h2>


<!-- row -->
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <p>
                @Html.ActionLink("Ajouter Annonce", "Create")
            </p>

            <p>
                <input type="text" name="category" id="search" placeholder="chercher">
            </p>
            <div class="table-responsive">
                <table class="table product-overview" id="contenu">
                    <thead id="filter">
                        <tr>
                            <th>Titre</th>
                            <th>Nom</th>
                            <th>Etat</th>
                            <th>Description</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Ville</th>
                            <th>RDV</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {

                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.UsersName_d)</td>
                                <td>@Html.DisplayFor(modelItem => item.UsersLastname_d)</td>
                                <td>
                                    <span class="label label-success font-weight-100"> @Html.DisplayFor(modelItem => item.State_d)</span>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.UsersCin_d)</td>
                                <td>@Html.DisplayFor(modelItem => item.Phone_d)</td>
                                <td>@Html.DisplayFor(modelItem => item.UsersEmail_d)</td>
                                <td>@Html.DisplayFor(modelItem => item.Ville_d)</td>

                                <td>
                                    <span class="label label-success font-weight-100">
                                        @Html.DisplayFor(modelItem => item.DeliveryId)
                                    </span>
                                    <input type="text" size="1" id="details" name="details" value="@Html.DisplayFor(modelItem => item.DeliveryId)" hidden />
                                    @*<input type="button" value="Detail" onclick="recup();">*@
                                </td>



                                <td>
                                    @Html.DisplayFor(modelItem => item.DateRegister_d)
                                </td>
                                @if (item.State_d != "disponible")
                                {
                                    <td>


                                        @Html.ActionLink("Delete", "Delete", new { id = item.DeliveryManId })|
                                        @Html.ActionLink("Details", "Details", new { id = item.DeliveryManId })`|
                                        @Html.ActionLink("disponible", "Details", new { id = item.DeliveryManId })`



                                    </td>

                                }
                                else
                                {
                                    <td>
                                        @Html.ActionLink("Affecter", "Edit", new { id = item.DeliveryManId })|
                                        @Html.ActionLink("Edit", "AffecterLivraison", new { id = item.DeliveryManId })|

                                        @Html.ActionLink("Delete", "Delete", new { id = item.DeliveryManId })|
                                        @Html.ActionLink("Details", "Details", new { id = item.DeliveryManId })`|
                                        @Html.ActionLink("Confirmer", "Confirmer", "Delivery", new { id = item.DeliveryId, Man = item.DeliveryManId }, null)|


                                    </td>
                                }


                            </tr>

                        </tbody>

                    }
                </table>
            </div>
        </div>
    </div>
</div>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Google Map</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>My Google Map</h1>
    <div id="map"></div>
</body>
</html>
<script src="~/Scripts/jquery-3.2.1.js" type="text/javascript"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    
    var hot;
    function intialisation() {


      

      

        $.getJSON('http://localhost:40740/DeliveryMan/ListMap', function (data) {
            hot = data;

        })
        setTimeout(function () {
           
            console.log("okkkkkk" + hot);
           
            initMap();
        }, 3000);
        
        //$.ajax({
        //    type: "GET",
        //    url: "http://localhost:40740/DeliveryMan/ListMap",


        //    dataType: "json",

        //    success: function (data) {
        //        hot = data;
        //        console.log("okkkkkk" + hot);
        //        alert(hot[0].UsersName_d);

        //        initMap();
        //    },
        //    error: function (jqXHR, status, err) {
        //        alert("une erreur c'est produit réessayer");
        //    }

             
        //});

    }

    
    

    function initMap() {
       Obj = hot;
       console.log("momoo" + Obj);
    
        // Map options
        var options = {
            zoom: 8,
            center: { lat: 42.3601, lng: -71.0589 }
        }

        // New map
        var map = new google.maps.Map(document.getElementById('map'), options);

        // Listen for click on map
        google.maps.event.addListener(map, 'click', function (event) {
            // Add marker
            addMarker({ coords: event.latLng });
        });

        /*
        // Add marker
        var marker = new google.maps.Marker({
          position:{lat:42.4668,lng:-70.9495},
          map:map,
          icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
        });
  
        var infoWindow = new google.maps.InfoWindow({
          content:'<h1>Lynn MA</h1>'
        });
  
        marker.addListener('click', function(){
          infoWindow.open(map, marker);
        });
        */

            // Array of markers
            for (var i = 0; i < Obj.length; i++) {
                console.log(parseFloat(Obj[i].ing));
                console.log(parseFloat(Obj[i].lng));
                var mylat = parseFloat(Obj[i].ing);
                var mylng = parseFloat(Obj[i].lng);
                
                var latlng = { lat: mylat, lng: mylng };
                console.log("latlong" + latlng);
               

                var contentString = '<h1>Amesbury MA</h1>';

                var marker = new google.maps.Marker({
                    position: latlng,
                    
                    map: map,
                    //icon:props.iconImage
                });

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });
                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });

               
        }
        
      
        
       
    }

    $.when(intialisation()).then(initMap());
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbQXTYuOtVp_yKIrFaOSSHcVR-KY8omxM&callback=initMap">
</script>
<script>

    function recup() {

        var id = document.getElementById("details").value;
        console.log("okkkkkk" + id);
        document.location = "http://localhost:40740/Delivery/Details/" + id;

    }


    $(document).ready(function () {


        var colonnes = {};
        $("#contenu thead th").each(function (index, th) {
            colonnes[index] = $(th).text();
        }
        );

        // faire la recherche dans le tableau
        $("#search").keyup(function () {
            var mots = $(this).val().toLowerCase().split(" ");
            $("#contenu tbody tr").each(function (index, tr) {
                if (mots[0].length > 0) $(tr).hide(); else $(tr).show();
                $("td", tr).each(function (index, td) {
                    if (colonnes[index] in { 'Nom': true, 'Prenom': true, 'Etat': true, 'Ville': true }) {
                        for (mot in mots) {
                            if (mots[mot].length > 0 && $(td).text().toLowerCase().indexOf(mots[mot]) >= 0) {
                                $(tr).show();
                                return false;
                            }
                        }
                    }
                });
            });
        });

    });
</script>
