﻿@model ConsomiTousi.Domain.DeliveryMan

@{
    ViewBag.Title = "ListMap";
}

<h2>ListMap</h2>


<script src="~/Scripts/jquery-3.2.1.js" type="text/javascript"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    var hot;
        
    function intialisation() {

        $.ajax({
            type: "POST",
            url: '@Url.Action("ListMap", "DeliveryMan")',
            
            
            dataType: "json",

            success: function (data) {
                hot = JSON.stringify(data);
                console.log("okkkkkk" + hot);
                alert(hot);
            },
            error: function (jqXHR, status, err) {
                alert("une erreur c'est produit réessayer");
            }
        });



    }

</script>
