﻿@model ConsomiTousi.Domain.Delivery

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ajouter visite</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.DeliveryState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryState, new { htmlAttributes = new { @class = "form-control",@Value="No" } })
                @Html.ValidationMessageFor(model => model.DeliveryState, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.Pays, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pays, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Pays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ville, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "tunis",
                        Value = "tunis",
                        Selected = false
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "sousse",
                        Value = "sousse"

                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "nabeul",
                        Value = "nabeul"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "hamamet",
                        Value = "hamamet"
                    });
                }

                @Html.DropDownListFor(model => model.Ville, listItems, "-- Select Ville --")
                @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"hidden>
            @Html.LabelFor(model => model.lng, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lng, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lng, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.ing, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ing, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.OrderId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control", @Value = 2 } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </div>
        </div>
         
        <div class="form-group">
            @Html.LabelFor(model => model.UsersId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsersId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersId, "", new { @class = "text-danger" })
            </div>
        </div>
        <label>Date visite</label>
        <div class="form-group">
           
            @*@Html.LabelFor(model => model.DeliveryDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">

                @Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="fail">


        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
       
            @Html.ActionLink("Back to List", "Index")
        
    </div>
}



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@


<script src="~/Scripts/jquery-3.2.1.js" type="text/javascript"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">

    var d = new Date();
    var datelivraison = d.getDate() + 3;
    var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
    var strDatelivr = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + datelivraison;
    console.log(strDate);
    $("#DeliveryDate").val(strDate);

    $("#Ville").mouseup(function () {

        var str = $("#Ville").val();

        console.log(str);
        if (str == "tunis") {
            var ingtu = "36,8188";
            var lngtu = "10,166";
            var pays = "Tunisie";
            $('#Pays').val(pays);
            $('#ing').val(ingtu);
            $('#lng').val(lngtu);
            //$('#fail').prepend('<strong color="green">Le prix de la livraison est de 5dt a partir du .</strong> ' + strDatelivr);
        }
        if (str == "sousse") {
            var ingS = "35,833";
            var lngS = "10,6387";
            $('#ing').val(ingS);
            $('#lng').val(lngS);
            var pays = "Tunisie";
            $('#Pays').val(pays);
            
					  	

            //$('#fail').prepend('<strong color="green">Le prix de la livraison est de 3dt a partir du .</strong> ' + strDatelivr);

					  	
           
        }
        if (str == "nabeul") {
            var ingN = "36,4542";
            var lngN = "10,7347";
            $('#ing').val(ingN);
            $('#lng').val(lngN);
            var pays = "Tunisie";
            $('#Pays').val(pays);

            //$('#fail').prepend('<strong color="green">Le prix de la livraison est de 3dt a partir du .</strong> ' + strDatelivr);


        }

        if (str == "hamamet") {
            var ingH = "36,4";
            var lngH = "10,6167";
            $('#ing').val(ingH);
            $('#lng').val(lngH);
            var pays = "Tunisie";
            $('#Pays').val(pays);
        }
    });




</script>