﻿@model ConsomiTousi.Domain.Delivery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <label>Date</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            <label>Etat</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

      

        
        <dt>
            @Html.DisplayNameFor(model => model.UsersId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsersId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeliveryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
