﻿@model IEnumerable<ConsomiTousi.Domain.Delivery>

@{
    ViewBag.Title = "Index";
}



<!-- row -->
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>

            <p>
                <input type="text" name="category" id="search" placeholder="chercher">
            </p>
            <div class="table-responsive">
                <table class="table product-overview" id="contenu">
                    <thead id="filter">
                        <tr>
                            <th>Date</th>
                            <th>Ville</th>
                            <th>Etat</th>
                           
                            <th>Adress</th>
                            
                            <th>User id</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {

                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.DeliveryDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.Ville)</td>
                                <td>
                                    <span class="label label-success font-weight-100"> @Html.DisplayFor(modelItem => item.DeliveryState)</span>
                                </td>
                                

                                <td>
                                    <span class="label label-success font-weight-100">
                                        @Html.DisplayFor(modelItem => item.Adress)
                                    </span>
                                    <input type="text" size="1" id="details" name="details" value="@Html.DisplayFor(modelItem => item.DeliveryId)" hidden />
                                    @*<input type="button" value="Detail" onclick="recup();">*@
                                </td>


                                @*<td>@Html.DisplayFor(modelItem => item.OrderId)</td>
                                <td>@Html.DisplayFor(modelItem => item.UsersId)</td>*@
                               
                               
                                    <td>

                                        @Html.ActionLink("Edit", "Edit", new { id = item.DeliveryId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.DeliveryId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.DeliveryId })


                                    </td>

                               

                            </tr>

                        </tbody>

                    }
                </table>
            </div>
        </div>
    </div>
</div>